@model WbSoftwareWebProject.Entities.Entity.Resume
@{
    ViewBag.Title = "Özgeçmiş Ekle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("Add", "Resume", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="col-md-8 col-offset-2">
                @Html.ValidationSummary(false)
                <div class="form-group">
                    @Html.LabelFor(model => model.Corporation, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Corporation, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Task, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Task, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <textarea name="Description" class="form-control" rows="7" cols="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control",type="date" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control",type="date" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <textarea name="Address" class="form-control" rows="5" cols="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsActive)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-success" title="Kaydet"><span class="glyphicon glyphicon-floppy-saved"></span> Kaydet</button>
                        <a href="/Resume/Index" class="btn btn-default" title="Geri Dön"><span class="glyphicon glyphicon-arrow-left mr-2"></span>Geri Dön</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

