@model IEnumerable<WbSoftwareWebProject.Entities.Entity.Resume>
@{
    ViewBag.Title = "Özgeçmiş Bilgilerim";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            <a href="/Resume/Add" class="btn btn-info" title="Yeni Kayıt Ekle"><span class="glyphicon glyphicon-plus"></span> Yeni Kayıt Ekle</a>
        </p>
        <table class="table table-bordered table-striped table-hover table-responsive ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Corporation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Task)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Corporation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Task)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td class="text-center">
                        @if (item.IsActive)
                        {
                            <i class="fa fa-check text-success"></i>
                        }
                        else
                        {
                            <i class="fa fa-times text-danger"></i>
                        }
                    </td>
                    <td>
                        <div class="col-md-2 text-right">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#" title="Seçenekler">
                                    <span class="glyphicon glyphicon-cog">&nbsp;</span>
                                    Seçenekler
                                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/Resume/Edit/@item.Id" title="Düzenle">
                                            <span class="glyphicon glyphicon-edit">&nbsp;</span> Düzenle
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Resume/Detail/@item.Id" title="Detay">
                                            <span class="glyphicon glyphicon-search">&nbsp;</span> Detay
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Resume/Delete/@item.Id" title="Sil" onclick="return confirm('Özgeçmiş bilginizi silmek istediğinize emin misiniz?')">
                                            <span class="glyphicon glyphicon-remove" title="Sil">&nbsp;</span> Sil
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

