@model WbSoftwareWebProject.Entities.ValueObjectModel.ResetPasswordViewmModel
@{
    ViewBag.Title = "Şifre Resetleme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="col-md-8 col-offset-2">
                @Html.ValidationSummary(false)
                @if (ViewBag.Message == true)
                {
                    <i class="fa fa-check text-success"> Şifreniz başarılı bir şekilde gönderilmiştir.</i>
                }
                else if (ViewBag.Message == false)
                {
                    <i class="fa fa-times text-danger"> Şifreniz değiştirilirken hata oluştu.</i>
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-dark" title="Resetle"><span class="glyphicon glyphicon-edit"></span> Resetle</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

