@model WbSoftwareWebProject.Entities.Entity.References
@{
    ViewBag.Title = "Referans Detayı";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <p class="display-4 border-bottom"></p>
        <h3>@ViewBag.Title</h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-offset-1">
        <dt>
            @Html.DisplayNameFor(model => model.NameAndSurname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameAndSurname)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Projects.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projects.ProjectName)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.CommentStatus)
        </dt>
        <dd>
            @if (Model.CommentStatus)
            {
                <i class="fa fa-check text-success"></i>
            }
            else
            {
                <i class="fa fa-times text-danger"></i>
            }
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.SavedUsername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SavedUsername)
        </dd>
    </div>

</div>

<div class="col-md-12 text-right">
    <a href="/References/Index" class="btn btn-default" title="Geri Dön"><span class="glyphicon glyphicon-arrow-left mr-2"></span> Geri Dön</a>
</div>


